@model PaginatedList<CrudOperation.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<table class="table">
    <thead style="background-color:#4984D4" class="p-2 mb-1 text-white">
        <tr>
            <th>
                ProductId
            </th>
            <th>
               ProductName
            </th>
            <th>
                CategoryId
            </th>
            <th>
                CategoryName
            </th>
            <th>
                <a asp-action="Create" class="p-1 mb-1 bg-success text-white rounded text-decoration-none"><i class="fa-solid fa-plus"></i> New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId"><i class="fa-solid fa-pen-to-square p-2 mb-1 bg-warning text-dark rounded"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId"><i class="fa-solid fa-trash p-2 mb-1 bg-danger text-dark rounded"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Next
</a>


